@model KartingApp.Domain.Entities.Track

@{
    ViewBag.Title = "Edit Track";
}

@using (Html.BeginForm("Edit", "Track",
    FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    @Html.EditorForModel()
    <br />
    <input type="submit" value="Save" />
}

@using (Html.BeginForm("Delete", "Track",
    FormMethod.Post, new { enctype = "multipart/form-data" }))
{ 
    <div>@Html.EditorFor(x => x.TrackID)</div>
    @Html.HiddenFor(x => x.Description)
    <br />
    <input type="submit" value="Delete" />
}

<h3>@Html.ActionLink("Cancel and return to List", "List")</h3>
