@model IEnumerable<KartingApp.Domain.Entities.Track>

@{
    ViewBag.Title = "Tracks";
}

<h1>Tracks</h1>
@foreach (var p in Model) {
        <h3>@Html.ActionLink(p.Description, "Detail", new { id = p.TrackID })</h3>
}

<h3>@Html.ActionLink("Add track", "Create")</h3>

<h3>@Html.RouteLink("Menu", new { controller = "Main", action = "Index" })</h3>
