@model IEnumerable<KartingApp.Domain.Entities.Driver>

@{
    ViewBag.Title = "Drivers";
}

<h1>Drivers</h1>

@if (Model != null)
{
    foreach (var p in Model)
    {
        <h3>@Html.ActionLink(p.Name + "," + p.Hometown, "Detail", new { id = p.DriverID })</h3>
    }
}
else
{
    <p>Model Is null!</p>
}

<h3>@Html.ActionLink("Add driver", "Create")</h3>

<h3>@Html.RouteLink("Menu", new { controller = "Main", action = "Index" })</h3>