@model IEnumerable<KartingApp.Domain.Entities.Driver>

@{
    ViewBag.Title = "Drivers";
}

<h2>Drivers</h2>

@if (Model != null)
{
    foreach (var p in Model)
    {
        @Html.ActionLink(p.Name + "," + p.Hometown, "Detail", new { id = p.DriverID })<br />
    }
}
else
{
    <p>Model Is null!</p>
}

<p>@Html.ActionLink("Add driver", "Create")</p>

@Html.RouteLink("Menu", new { controller = "Main", action = "Index" })