@model IEnumerable<KartingApp.Domain.Entities.Driver>

@{
    ViewBag.Title = "Drivers";
}

<h2>Drivers</h2>

@if (Model != null)
{
    foreach (var p in Model)
    {
        <h6>@Html.ActionLink(p.Name + "," + p.Hometown, "Detail", new { id = p.DriverID })</h6>
    }
}
else
{
    <p>Model Is null!</p>
}

<h6>@Html.ActionLink("Add driver", "Create")</h6>

<h6>@Html.RouteLink("Menu", new { controller = "Main", action = "Index" })</h6>