@model IEnumerable<KartingApp.Domain.Entities.Race>

@{
    ViewBag.Title = "Races";
}

<h1>Races</h1>
@foreach (var p in Model) 
{
        <h3>@Html.ActionLink(p.RaceDescription, "Detail", new { id = p.RaceID })</h3>
}

<h3>@Html.ActionLink("Add race", "Create")</h3>

<h3>@Html.RouteLink("Menu", new { controller = "Main", action = "Index" })</h3>
