@{
    ViewBag.Title = "KartingApp";
}
<h1>@Html.RouteLink("Drivers", new { controller = "Driver", action = "List" })</h1>
<h1>@Html.RouteLink("Tracks", new { controller = "Track", action = "List" })</h1>
<h1>@Html.RouteLink("Races", new { controller = "Race", action = "List" })</h1>