@{
    ViewBag.Title = "KartingApp";
}

<h2>@Html.RouteLink("Drivers", new { controller = "Driver", action = "List" })</h2>
<h2>@Html.RouteLink("Tracks", new { controller = "Track", action = "List" })</h2>
<h2>@Html.RouteLink("Races", new { controller = "Race", action = "List" })</h2>