body
{
    font-size: 32pt;
    font-family: "Segoe WP";
    color: #ffffff;
    background-color: #000000;
    /* padding: 18px; */
}
 
h1, h2, h3, h4, h5, h6 { 
    font-family:"Segoe WP"; 
   /* margin-bottom:7px; */
}
 
h1 { font-size: 56pt; }
 
h2 { font-size: 40pt; }
 
h3 { font-size:32pt; font-weight:normal; }
 
h4 { font-size:24pt; }
 
h5 { font-size:20pt; }
 
h6 { font-size:18pt; }
 
p { font-size: 18pt; }


input, select, button {vertical-align: baseline;min-height: 40px; min-width: 400px; color:#ffffff; background-color: #000000; border: 2px solid white; cursor:pointer; font-size: 32pt; font-weight:normal;} 

input:hover {background: #6E6E6E;}

header,
footer,
nav,
section {
    display: block;
}

/* Styles for basic forms
-----------------------------------------------------------*/

fieldset 
{
    border:1px solid #ddd;
    padding:0 1.4em 1.4em 1.4em;
    margin:0 0 1.5em 0;
}

legend 
{
    font-size:1.2em;
    font-weight: bold;
}

textarea 
{
    min-height: 75px;
}

.editor-label 
{
    margin: 1em 0 0 0;
    font-weight: bold;
}

.editor-field 
{
    margin:0.5em 0 0 0;
}


/* Styles for validation helpers
-----------------------------------------------------------*/
.field-validation-error
{
    color: #ff0000;
}

.field-validation-valid
{
    display: none;
}

.input-validation-error
{
    border: 1px solid #ff0000;
    background-color: #6E6E6E;
}

.validation-summary-errors
{
    font-weight: bold;
    color: #ff0000;
}

.validation-summary-valid
{
    display: none;
}

 a:link
 {
 text-decoration: none;
 color: #ffffff;
 }

 a:visited{
 text-decoration: none;
 color: #ffffff;
 }

 a:hover{
 text-decoration: none;
 color: #ffffff;
 }

 a:active{
 text-decoration: none;
 color: #ffffff;
 } 
 
select {
   background: #333;
   border: 1px solid black;
   color: #ffffff;
   cursor:pointer;
}



